*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

body{
    background-image: url('/imagens/background-blue.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.paleta{
    color: 
    #F4B8AE

    #ABCCFF


    #D7D0C8

    #5C534C

    #C7CCD0


    #79A3D9

    #A7C8F2
    
    #85DEF2

    #D9967E

    #F26B6B
    ;
}

main{
    margin: 0 auto;
}

section{
    margin: 10vh auto;
    width: 90vh;
    height: 60vh;
    background-color: #f4b9ae76;
    border-radius: 8px;
    box-shadow: #5C534C 0px 0px 5px;align-items: center;
}

h1{
    font-size: 10vh;
    color: #4d3f34;
    font-weight: lighter;
}