/* Usando fonte externa */

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Forum&family=Pompiere&display=swap');

/* Usando fonte baixada */
@font-face{
    font-family: "wonderful";
    src: url('/fonts/Wonderful Branding.ttf') format(truetype);
    font-weight: normal;
}

PALETA DE CORES{
    color: 
    #F4B8AE

    #ABCCFF


    #D7D0C8

    #5C534C

    #C7CCD0


    #79A3D9

    #A7C8F2
    
    #85DEF2

    #D9967E

    #F26B6B
    ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: url('/imagens/background-blue.png');
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    gap: 20px;
}

.box{
    display: flex;
    gap: 20px;
}

.img-casal{  
    width: 200px;  
    border-radius: 180px;
    box-shadow: #F26B6B 0px 0px 5px;
}

.titulo{
    font-family: 'wonderful';
    font-size:medium;  
    text-align: center;  
    color: #5C534C;
    font-weight:lighter;
}

.btn{
    padding: 0.75em 1.5em;
    border-radius: 9px;
    border: none;    
}

.blue{
    background-color: #ABCCFF;
    box-shadow: #79A3D9 0px 0px 5px;
}

.pink{
    background-color: #F4B8AE;
    box-shadow: #F26B6B 0px 0px 5px;
}

.btn .cta{
    font-family: 'Forum', cursive;
    font-size: medium;
    color: #5C534C;
}

.btn:hover{
    opacity: 80%;
}

.subtitulo{
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-weight: normal;
    color: #5C534C;
}

.subtitulo .bold{
    font-weight: bolder;    
}


.text{
    font-family: 'Pompiere', cursive;
    text-align: center;
    color: #5C534C;
}

footer{
    font-size: small;
    font-weight: lighter;
    text-align: center;
    color: #5C534C;
}